@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url("https://use.typekit.net/vxz4lvk.css");

html, body {
    margin: 0;
}

section {
    /* font-size: clamp(0.5rem, 0.8rem + 0.5vw, 1.4rem); */
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sticky-header{
    position: sticky;
  top: 0;
}

#hero-section{
    background-image: url("./assets/hero-section.jpg");
}

.parallax h1 {
    font-size: clamp(4rem, 4rem + 4.5vw, 12rem);
}

#history-section{
    /* background: url("./assets/section-2.jpg"); */
}

#history-section::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url("./assets/section-2.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.25;
}

#team-section{
    min-height: calc(100vh - 75px);
    height: calc(100vh - 75px);
}

/* for tab-navigation */
#tab-container #content-tab-1{
    background-image: url("./assets/tab-1.jpg");
}

#tab-container #content-tab-2{
    background-image: url("./assets/tab-2.jpg");
}

#tab-container .content-body {
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tab-container .active {
    display: flex;
}

#tab-container .active h1{
    color: #414f6b;
    border-bottom: 2px solid #414f6b;
}

#tab-container .tab.active{
    background-color: #b0b4be;
}

.content-body .grid-container{
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgba(255, 255, 255, .5);
    grid-gap:10px;
}

.content-body .grid-item {
  font-size: 16px;
  text-align: center;
  height: 20px;
}

@media only screen and (min-width: 430px){
    #history-section::before{
        opacity: 1;
    }
}
@media only screen and (min-width: 1800px){
    #parallax-text {
        top: 44%
    }
}
@media only screen and (min-width: 2280px){
    #parallax-text {
        top: 42%
    }
}